/demo/nbproject/private/
/demo/build/
/firstSwingDemo/nbproject/private/
/firstSwingDemo/build/
/jListDemo/nbproject/private/
/jListDemo/build/
/worldCities/nbproject/private/
/worldCities/build/
/w3schoolTutorial/nbproject/private/
/w3schoolTutorials/nbproject/private/
/w3schoolTutorials/build/
/KodlamaVakti/nbproject/private/
/KodlamaVakti/build/
/HesapMakinesi/nbproject/private/
/HesapMakinesi1/nbproject/private/
/HesapMakinesi1/build/
/HesapMakinesi1/dist/