/demo/nbproject/private/
/demo/build/
/firstSwingDemo/nbproject/private/
/firstSwingDemo/build/
/jListDemo/nbproject/private/
/jListDemo/build/
/worldCities/nbproject/private/
/worldCities/build/
/w3schoolTutorial/nbproject/private/
/w3schoolTutorials/nbproject/private/
/w3schoolTutorials/build/
/KodlamaVakti/nbproject/private/
/KodlamaVakti/build/
/HesapMakinesi/nbproject/private/
/HesapMakinesi1/nbproject/private/
/HesapMakinesi1/build/
/HesapMakinesi1/dist/
/MayinTarlasi/nbproject/private/
/MayinTarlasi/build/
/JavaApplication15/nbproject/private/
/TeknikServis/nbproject/private/
/gui-theme-test/nbproject/private/
/gui-test/nbproject/private/
/gui-test/build/
/Portal V2/build/
/Portal V2/nbproject/private/
/Portal V2/dist/